<% if @apartment_comment.present? %>
  <% if @apartment_comment.errors.any? %>
    <% @apartment_comment.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new apartment comment
</h1>


<hr>

<form action="/create_apartment_comment" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @apartment_comment.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="apartment_id">
      Apartment
    </label>

    <%= select_tag(:apartment_id, options_from_collection_for_select(Apartment.all, :id, :user_id, @apartment_comment.apartment_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="text">
      Text
    </label>

    <textarea id="text" name="text" class="form-control" rows="3"><%= @apartment_comment.text %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create apartment comment
  </button>
</form>

<hr>

<a href="/apartment_comments">
  Go back
</a>
