<form action="/create_building_bookmark_from_building" method="post">

  <input type="hidden" name="building_id" value="<%= @building.id %>">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @building_bookmark.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @building_bookmark.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create building bookmark
  </button>
</form>
