<!-- Form building_amenity start -->
<form action="/create_building_amenity_from_building" method="post">
<!-- Form building_amenity end -->

  <!-- Label and input for building_id start -->
  <!-- Input for building_id start -->
  <input type="hidden" name="building_id" value="<%= @building.id %>">
  <!-- Input for building_id end -->

  <!-- Label and input for amenity_id start -->
  <div class="form-group">
    <label for="amenity_id">
      Amenity
    </label>

    <!-- Input for amenity_id start -->
    <input type="text" id="amenity_id" name="amenity_id" class="form-control" value="<%= @building_amenity.amenity_id %>">
    <!-- Input for amenity_id end -->
  </div>
  <!-- Label and input for amenity_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create building amenity
  </button>
</form>
