<form action="/create_apartment_photo" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @apartment_photo.description %>">
  </div>

  <input type="hidden" name="apartment_id" value="<%= @apartment.id %>">

  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <input type="file" id="photo" name="photo" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create apartment photo
  </button>
</form>
