<form action="/create_apartment_bookmark_from_apartment" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @apartment_bookmark.user_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="apartment_id" value="<%= @apartment.id %>">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @apartment_bookmark.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create apartment bookmark
  </button>
</form>
