<h1>
  Add a new apartment
</h1>


<hr>

<!-- Form apartment start -->
<form action="/create_apartment" method="post">
<!-- Form apartment end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <input type="text" id="description" name="description" class="form-control">
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <!-- Label and input for floor_plan start -->
  <div class="form-group">
    <label for="floor_plan">
      Floor plan
    </label>

    <!-- Input for floor_plan start -->
    <input type="text" id="floor_plan" name="floor_plan" class="form-control">
    <!-- Input for floor_plan end -->
  </div>
  <!-- Label and input for floor_plan end -->

  <!-- Label and input for building_id start -->
  <div class="form-group">
    <label for="building_id">
      Building
    </label>

    <!-- Input for building_id start -->
    <input type="text" id="building_id" name="building_id" class="form-control">
    <!-- Input for building_id end -->
  </div>
  <!-- Label and input for building_id end -->

  <!-- Label and input for bedrooms start -->
  <div class="form-group">
    <label for="bedrooms">
      Bedrooms
    </label>

    <!-- Input for bedrooms start -->
    <input type="text" id="bedrooms" name="bedrooms" class="form-control">
    <!-- Input for bedrooms end -->
  </div>
  <!-- Label and input for bedrooms end -->

  <!-- Label and input for bathrooms start -->
  <div class="form-group">
    <label for="bathrooms">
      Bathrooms
    </label>

    <!-- Input for bathrooms start -->
    <input type="text" id="bathrooms" name="bathrooms" class="form-control">
    <!-- Input for bathrooms end -->
  </div>
  <!-- Label and input for bathrooms end -->

  <!-- Label and input for sq_footage start -->
  <div class="form-group">
    <label for="sq_footage">
      Sq footage
    </label>

    <!-- Input for sq_footage start -->
    <input type="text" id="sq_footage" name="sq_footage" class="form-control">
    <!-- Input for sq_footage end -->
  </div>
  <!-- Label and input for sq_footage end -->

  <!-- Label and input for orientation start -->
  <div class="form-group">
    <label for="orientation">
      Orientation
    </label>

    <!-- Input for orientation start -->
    <input type="text" id="orientation" name="orientation" class="form-control">
    <!-- Input for orientation end -->
  </div>
  <!-- Label and input for orientation end -->

  <!-- Label and input for floor start -->
  <div class="form-group">
    <label for="floor">
      Floor
    </label>

    <!-- Input for floor start -->
    <input type="text" id="floor" name="floor" class="form-control">
    <!-- Input for floor end -->
  </div>
  <!-- Label and input for floor end -->

  <button class="btn btn-block btn-outline-secondary">
    Create apartment
  </button>
</form>

<hr>

<a href="/apartments">
  Go back
</a>
