<form action="/create_furniture_category_picture" method="post" enctype="multipart/form-data">

  <input type="hidden" name="category_id" value="<%= @furniture_category.id %>">

  <div class="form-group">
    <label for="picture">
      Picture
    </label>

    <input type="file" id="picture" name="picture" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create furniture category picture
  </button>
</form>
