<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Apartment Comments

    <a data-toggle="collapse" href="#user_apartment_comments_new_form">
      Add apartment comment
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.apartment_comments.each do |apartment_comment| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/apartment_comments/<%= apartment_comment.id %>">
          <%= apartment_comment.user_id %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
