<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Building Bookmarks

    <a data-toggle="collapse" href="#user_building_bookmarks_new_form">
      Add building bookmark
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.building_bookmarks.each do |building_bookmark| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/building_bookmarks/<%= building_bookmark.id %>">
          <%= building_bookmark.building_id %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
