<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      Movingcircle
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/furniture_category_pictures" class="dropdown-item">
              Furniture Category Pictures
            </a>
            <a href="/furniture_categories" class="dropdown-item">
              Furniture Categories
            </a>
            <a href="/building_bookmarks" class="dropdown-item">
              Building Bookmarks
            </a>
            <a href="/building_amenities" class="dropdown-item">
              Building Amenities
            </a>
            <a href="/buildings" class="dropdown-item">
              Buildings
            </a>
            <a href="/amenity_pictures" class="dropdown-item">
              Amenity Pictures
            </a>
            <a href="/amenities" class="dropdown-item">
              Amenities
            </a>
            <a href="/apartment_bookmarks" class="dropdown-item">
              Apartment Bookmarks
            </a>
            <a href="/pack_bookmarks" class="dropdown-item">
              Pack Bookmarks
            </a>
            <a href="/furniture_packs" class="dropdown-item">
              Furniture Packs
            </a>
            <a href="/apartment_photos" class="dropdown-item">
              Apartment Photos
            </a>
            <a href="/furniture_object_pictures" class="dropdown-item">
              Furniture Object Pictures
            </a>
            <a href="/furtniture_objects" class="dropdown-item">
              Furtniture Objects
            </a>
            <a href="/apartments" class="dropdown-item">
              Apartments
            </a>
            <a href="/users" class="dropdown-item">
              Users
            </a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if current_user.blank? %>
          <li class="nav-item">
            <a href="/users/sign_in" class="nav-link">
              Sign in
            </a>
          </li>

          <li class="nav-item">
            <a href="/users/sign_up" class="nav-link">
              Sign up
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="/users/edit" class="nav-link">
              Edit profile
            </a>
          </li>

          <li class="nav-item">
            <a href="/users/sign_out" data-method="delete" class="nav-link">
              Sign out
            </a>
          </li>
        <% end %>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
