<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Furniture Categories

    <a data-toggle="collapse" href="#furniture_pack_furniture_categories_new_form">
      Add furniture category
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @furniture_pack.furniture_categories.each do |furniture_category| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/furniture_categories/<%= furniture_category.id %>">
          <%= furniture_category.items %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_furniture_category_from_furniture_pack/<%= furniture_category.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="furniture_pack_furniture_categories_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
