<h1>
  Add a new apartment bookmark
</h1>


<hr>

<!-- Form apartment_bookmark start -->
<form action="/create_apartment_bookmark" method="post">
<!-- Form apartment_bookmark end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for apartment_id start -->
  <div class="form-group">
    <label for="apartment_id">
      Apartment
    </label>

    <!-- Input for apartment_id start -->
    <input type="text" id="apartment_id" name="apartment_id" class="form-control">
    <!-- Input for apartment_id end -->
  </div>
  <!-- Label and input for apartment_id end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create apartment bookmark
  </button>
</form>

<hr>

<a href="/apartment_bookmarks">
  Go back
</a>
