<h1>
  Edit building amenity #<%= @building_amenity.id %>
</h1>

<hr>

<form action="/update_building_amenity/<%= @building_amenity.id %>" method="post">

  <div class="form-group">
    <label for="building_id">
      Building
    </label>

    <%= select_tag(:building_id, options_from_collection_for_select(Building.all, :id, :apartment_id, @building_amenity.building_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="amenity_id">
      Amenity
    </label>

    <%= select_tag(:amenity_id, options_from_collection_for_select(Amenity.all, :id, :name, @building_amenity.amenity_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update building amenity
  </button>
</form>

<hr>

<a href="/building_amenities">
  Go back
</a>
