<!-- Validation failure messages -->
<% if @apartment_photo.present? %>
  <% if @apartment_photo.errors.any? %>
    <% @apartment_photo.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new apartment photo
</h1>


<hr>

<!-- Form apartment_photo start -->
<form action="/create_apartment_photo" method="post" enctype="multipart/form-data">
<!-- Form apartment_photo end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <input type="text" id="description" name="description" class="form-control" value="<%= @apartment_photo.description %>">
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <!-- Label and input for apartment_id start -->
  <div class="form-group">
    <label for="apartment_id">
      Apartment
    </label>

    <!-- Input for apartment_id start -->
    <input type="text" id="apartment_id" name="apartment_id" class="form-control" value="<%= @apartment_photo.apartment_id %>">
    <!-- Input for apartment_id end -->
  </div>
  <!-- Label and input for apartment_id end -->

  <!-- Label and input for photo start -->
  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <!-- Input for photo start -->
    <input type="file" id="photo" name="photo" class="form-control">
    <!-- Input for photo end -->
  </div>
  <!-- Label and input for photo end -->

  <button class="btn btn-block btn-outline-secondary">
    Create apartment photo
  </button>
</form>

<hr>

<a href="/apartment_photos">
  Go back
</a>
