<h1>
  Add a new pack bookmark
</h1>


<hr>

<!-- Form pack_bookmark start -->
<form action="/create_pack_bookmark" method="post">
<!-- Form pack_bookmark end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @pack_bookmark.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for pack_id start -->
  <div class="form-group">
    <label for="pack_id">
      Pack
    </label>

    <!-- Input for pack_id start -->
    <input type="text" id="pack_id" name="pack_id" class="form-control">
    <!-- Input for pack_id end -->
  </div>
  <!-- Label and input for pack_id end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create pack bookmark
  </button>
</form>

<hr>

<a href="/pack_bookmarks">
  Go back
</a>
