<h1>
  Add a new pack bookmark
</h1>


<hr>

<form action="/create_pack_bookmark" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @pack_bookmark.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="pack_id">
      Pack
    </label>

    <%= select_tag(:pack_id, options_from_collection_for_select(FurniturePack.all, :id, :description, @pack_bookmark.pack_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create pack bookmark
  </button>
</form>

<hr>

<a href="/pack_bookmarks">
  Go back
</a>
