<% if @amenity_picture.present? %>
  <% if @amenity_picture.errors.any? %>
    <% @amenity_picture.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new amenity picture
</h1>


<hr>

<form action="/create_amenity_picture" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="picture">
      Picture
    </label>

    <input type="file" id="picture" name="picture" class="form-control">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @amenity_picture.description %>">
  </div>

  <div class="form-group">
    <label for="building_amenity_id">
      Building amenity
    </label>

    <%= select_tag(:building_amenity_id, options_from_collection_for_select(BuildingAmenity.all, :id, :building_id, @amenity_picture.building_amenity_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create amenity picture
  </button>
</form>

<hr>

<a href="/amenity_pictures">
  Go back
</a>
